<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-lg-8 col-xl-6">
      <nav class="navbar nabvar-light bg-light m-auto"> 
       <div class="container-fluid">ジャンル編集</div>
      </nav>
    </div>
  </div>

  
</div>